* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.brand {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    color: #333333;
}

.navbar__container {
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 3px 5px #00000034;
    position: fixed;
    top: 0;
    left: 0;
}

.btn__a {
    margin: 100px 370px 10px 0;
    padding: 10px 15px;
    background-color: skyblue;
    color: #fff;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    width: max-content;
    text-transform: capitalize;
}

table {
    width: 800px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead tr {
    background-color: #ddd;
    text-align: left;
}

th, td {
    padding: 1rem;
    text-transform: capitalize;
}

tbody tr:nth-child(odd) {
    background-color: #f4f4f496;
}

.btn {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.btn.btn__primary {
    background-color: lightgreen;
}
.btn.btn__delete {
    background-color: tomato;
    color: #fff;
}