:root {
    --transition: all .3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navbar */
a.brand {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    color: #333333;
}

.navbar__container {
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 3px 5px #00000034;
    position: fixed;
    top: 0;
    left: 0;
}

/* content */
.content {
    padding-top: 90px;
    width: 800px;
}


/* index page */
.btn__a {
    margin: 0 0 10px 0;
    padding: 10px 15px;
    background-color: skyblue;
    color: #fff;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    width: max-content;
    text-transform: capitalize;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead tr {
    background-color: #ddd;
    text-align: left;
}

th, td {
    padding: 1rem;
    text-transform: capitalize;
}

tbody tr:nth-child(odd) {
    background-color: #f4f4f496;
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.btn.btn__primary {
    background-color: lightgreen;
}
.btn.btn__delete {
    background-color: tomato;
    color: #fff;
}


/* create page */
.title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

label {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

label::after {
    content: " *";
    color: tomato;
}

.form__control {
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: var(--transition);
}

.form__control:focus {
    border: none;
    box-shadow: 0 0 .4rem rgb(135, 207, 235);
}

option {
    text-transform: capitalize;
}

.btn__group {
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

.btn__a.delete {
    margin: 0;
    background-color: tomato;
}