{% extends "layouts/index.html" %}

{% block content %}
    <h2 class="title">Edit Task</h2>

    <form method="POST" action="{{ url_for('update_task', task_id=task.id) }}">
        <div class="form__input">
            <label for="name">Nama Task</label>
            <input 
                type="text" 
                name="name" 
                class="form__control"
                value="{{ task.name }}"
                placeholder="Masak Indomie..."
                required
            >
        </div>
        <div class="form__input">
            <label for="status">Status</label>
            <select name="status" id="status" class="form__control" required>
                <option value="pending" {% if task.status == 'pending' %}selected{% endif %}>Pending</option>
                <option value="complete" {% if task.status == 'complete' %}selected{% endif %}>Complete</option>
            </select>
        </div>

        <div class="btn__group">
            <a href="{{ url_for('index') }}" class="btn__a delete">Kembali</a>
            <button type="submit" class="btn btn__primary">Update Task</button>
        </div>
    </form>
{% endblock %}