{% extends "layouts/index.html" %}

{% block content %}
    <h2 class="title">edit task</h2>

    <form action="{{ url_for('edit', id=task[0]) }}" method="POST">
        <div class="form__input">
            <label for="name">nama task</label>
            <input 
                type="text" 
                name="name" 
                class="form__control"
                placeholder="Masukan Task"
                value="{{ task[1] }}"
                required
            >
        </div>
        <div class="form__input">
            <label for="status">status</label>
            <select name="status" id="status" class="form__control" required>
                <option value="" disabled {% if task[2] not in ['pending','complete'] %}selected{% endif %}>Status Task</option>
                <option value="pending" {% if task[2] == 'pending' %}selected{% endif %}>Pending</option>
                <option value="complete" {% if task[2] == 'complete' %}selected{% endif %}>Complete</option>
            </select>
        </div>

        <div class="btn__group">
            <a href="{{ url_for('index') }}" class="btn__a delete">Kembali</a>
            <button type="submit" class="btn btn__primary">update task</button>
        </div>
    </form>
{% endblock %}