{% extends "layouts/index.html" %}

{% block content %}
    <table>
        <a class="btn__a" href="{{ url_for('create') }}">+ create new tasks</a>
        <thead>
            <tr>
                <th>no</th>
                <th>nama tasks</th>
                <th>aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>bikin indomie</td>
                <td>
                    <button class="btn btn__primary">edit</button>
                    <button class="btn btn__delete">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}