{% extends "layouts/index.html" %}

{% block content %}
    <table>
        <a class="btn__a" href="{{ url_for('create') }}">+ create new tasks</a>
        <thead>
            <tr>
                <th>no</th>
                <th>nama tasks</th>
                <th>status</th>
                <th>aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>
                    <a href="{{ url_for('edit', id=task[0]) }}" class="btn btn__primary">edit</a>
                    <a href="{{ url_for('delete', id=task[0]) }}" class="btn btn__delete">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}